body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
}

form {
  margin: auto auto;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding: 30px 15px;
  border: 1px dotted orange;
}

label {
  font-weight: bold;
}

input {
  width: 200px;
  padding: 20px;
}